# Prepare

*as the data is collected and managed by the company itself, therefore the data is **reliable**, and **original**. The data selected for this project is **current** and also **comprehensive**.*

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [15]:
# Reading the csv files 

file = []
for i in range (1,13):
    name = f'20220{i}-divvy-tripdata'
    file.append(name)
    i+=1
    
dataframes = []
for j in file:
    df= pd.read_csv(f'{j}.csv')
    dataframes.append(df)

In [16]:
# Merging monthly data into yearly data of year 2022
year_22 = pd.concat(dataframes, ignore_index=True)

# Process

*The data is first party data or Internal data, as it is generated, collected and stored by the company itself.*

In [17]:
year_22.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member

In [18]:
year_22.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [19]:
year_22.shape

(5667717, 13)

In [8]:
# No. of ride booked in year 2022
year_22.ride_id.nunique()

5667717

In [20]:
year_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5667717 entries, 0 to 5667716
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 562.1+ MB

In [21]:
# converting to datetime from object
year_22['started_at'] = pd.to_datetime(year_22['started_at'])
year_22['ended_at'] = pd.to_datetime(year_22['ended_at'])

In [22]:
# preferred type of membership plan 
year_22.member_casual.value_counts()

member    3345685
casual    2322032
Name: member_casual, dtype: int64

In [23]:
# preffered bike 
year_22.rideable_type.value_counts()

electric_bike    2889029
classic_bike     2601214
docked_bike       177474
Name: rideable_type, dtype: int64

In [24]:
year_22.to_csv('year_22.csv')